{% extends "carsell/base.html" %}
{% block content %}
<h1>About Page</h1>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sint ullam ipsa officia odio, fugit quia pariatur
    reiciendis quod, velit et, inventore beatae quos expedita quidem distinctio sunt illum explicabo!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sint ullam ipsa officia odio, fugit quia pariatur
    reiciendis quod, velit et, inventore beatae quos expedita quidem distinctio sunt illum explicabo!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sint ullam ipsa officia odio, fugit quia pariatur
    reiciendis quod, velit et, inventore beatae quos expedita quidem distinctio sunt illum explicabo!
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sint ullam ipsa officia odio, fugit quia pariatur
    reiciendis quod, velit et, inventore beatae quos expedita quidem distinctio sunt illum explicabo!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sint ullam ipsa officia odio, fugit quia pariatur
    reiciendis quod, velit et, inventore beatae quos expedita quidem distinctio sunt illum explicabo!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sint ullam ipsa officia odio, fugit quia pariatur
    reiciendis quod, velit et, inventore beatae quos expedita quidem distinctio sunt illum explicabo!
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sint ullam ipsa officia odio, fugit quia pariatur
    reiciendis quod, velit et, inventore beatae quos expedita quidem distinctio sunt illum explicabo!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sint ullam ipsa officia odio, fugit quia pariatur
    reiciendis quod, velit et, inventore beatae quos expedita quidem distinctio sunt illum explicabo!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel sint ullam ipsa officia odio, fugit quia pariatur
    reiciendis quod, velit et, inventore beatae quos expedita quidem distinctio sunt illum explicabo!
</p>
{% endblock content %}