{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Carsell</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'carsell/layout.css' %}">
    
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/backgrounds/01.png' %});">
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1><a href="{% url 'carsell-home' %}">Carsell</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="{% url 'carsell-home' %}">Home</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'users-profile' %}">Profile</a></li>
            <li><a href="{% url 'users-log-out' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'users-sign-up' %}">Sign Up</a></li>
            <li><a href="{% url 'users-log-in' %}">Log In</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
  </div>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
    {% endfor %}
  {% endif %}
      </div>
  {% block content %}{% endblock %}
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Copyright &copy; {% now "Y" %} - All Rights Reserved - <a href="#">Carsell.am</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'carsell/scripts/jquery.min.js' %}"></script>
<script src="{% static 'carsell/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'carsell/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>