{% extends "carsell/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper">
	<div id="pageintro" class="hoc clear">
		<main class="hoc container clear"> 
			<div class="content">
				<p class="heading">Select the Car</p>
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						{% crispy form %}
					</fieldset>
					<div class="form-group">
						<button class="btn" type="submit" style="width:100%">Search</button>
					</div>
				</form>
		
			</div>
		</main> 
	</div>
</div>
<div class="wrapper row3">
  <div class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">New and used cars</h6>
    </div>
    <ul class="nospace group services">
      <li class="one_third first btmspace-30">
        <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
          <h6 class="heading font-x1"><a href="#">Vitae sem nunc aliquam</a></h6>
          <p>Sit amet nunc vestibulum tempus quam a imperdiet sem curabitur non neque&hellip;</p>
        </article>
      </li>
      <li class="one_third btmspace-30">
        <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
          <h6 class="heading font-x1"><a href="#">Efficitur tristique odio</a></h6>
          <p>In elementum dui donec ex metus interdum gravida lorem in pulvinar vulputate&hellip;</p>
        </article>
      </li>
      <li class="one_third btmspace-30">
        <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
          <h6 class="heading font-x1"><a href="#">Massa morbi non leo sed</a></h6>
          <p>Sapien pretium vulputate et sit amet justo integer sed sem mauris sed bibendum&hellip;</p>
        </article>
      </li>
      <li class="one_third first">
        <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
          <h6 class="heading font-x1"><a href="#">Nisi sit amet tortor</a></h6>
          <p>Dapibus euismod vivamus molestie ornare ante ut posuere in eget consequat nulla&hellip;</p>
        </article>
      </li>
      <li class="one_third">
        <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
          <h6 class="heading font-x1"><a href="#">Fusce aliquet non leo</a></h6>
          <p>Eu mollis sed et pulvinar orci aenean pulvinar neque vitae metus pretium maximus&hellip;</p>
        </article>
      </li>
      <li class="one_third">
        <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
          <h6 class="heading font-x1"><a href="#">Praesent quis tempus</a></h6>
          <p>Curabitur sagittis mauris et tellus porttitor venenatis id in quam proin tincidunt&hellip;</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper row3">
    <div class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h6 class="heading">Trucks and accesories</h6>
      </div>
      <ul class="nospace group services">
        <li class="one_third first btmspace-30">
          <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
            <h6 class="heading font-x1"><a href="#">Vitae sem nunc aliquam</a></h6>
            <p>Sit amet nunc vestibulum tempus quam a imperdiet sem curabitur non neque&hellip;</p>
          </article>
        </li>
        <li class="one_third btmspace-30">
          <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
            <h6 class="heading font-x1"><a href="#">Efficitur tristique odio</a></h6>
            <p>In elementum dui donec ex metus interdum gravida lorem in pulvinar vulputate&hellip;</p>
          </article>
        </li>
        <li class="one_third btmspace-30">
          <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
            <h6 class="heading font-x1"><a href="#">Massa morbi non leo sed</a></h6>
            <p>Sapien pretium vulputate et sit amet justo integer sed sem mauris sed bibendum&hellip;</p>
          </article>
        </li>
        <li class="one_third first">
          <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
            <h6 class="heading font-x1"><a href="#">Nisi sit amet tortor</a></h6>
            <p>Dapibus euismod vivamus molestie ornare ante ut posuere in eget consequat nulla&hellip;</p>
          </article>
        </li>
        <li class="one_third">
          <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
            <h6 class="heading font-x1"><a href="#">Fusce aliquet non leo</a></h6>
            <p>Eu mollis sed et pulvinar orci aenean pulvinar neque vitae metus pretium maximus&hellip;</p>
          </article>
        </li>
        <li class="one_third">
          <article class="bgded overlay" style="background-image:url('{% static 'carsell/images/demo/320x240.png' %});">
            <h6 class="heading font-x1"><a href="#">Praesent quis tempus</a></h6>
            <p>Curabitur sagittis mauris et tellus porttitor venenatis id in quam proin tincidunt&hellip;</p>
          </article>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('{% static 'carsell/images/demo/backgrounds/02.png' %});">
  <article class="hoc container clear center"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle" style="margin-bottom:30px;">
      <h6 class="heading">Our history</h6>
      <p>Read about the journey of our company</p>
    </div>
    <p><a class="btn medium" href="{% url 'carsell-about' %}">Read More &raquo;</a></p>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">How to find a proper car.</h6>
    </div>
    <div class="group">
      <article class="one_third first"><a href="#"><img class="btmspace-30" src="{% static 'carsell/images//demo/320x240.png' %}" alt=""></a>
        <h3 class="heading">Venenatis magna amet</h3>
        <p>Vehicula augue vestibulum sed consectetur elit in eget pretium massa praesent ornare nulla suscipit fermentum semper&hellip;</p>
        <footer class="nospace"><a href="#">Read More &raquo;</a></footer>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="{% static 'carsell/images//demo/320x240.png' %}" alt=""></a>
        <h3 class="heading">Sed suscipit tempus</h3>
        <p>Eu faucibus nibh facilisis ac aliquam facilisis commodo tincidunt donec commodo est vel est suscipit ultrices nam&hellip;</p>
        <footer class="nospace"><a href="#">Read More &raquo;</a></footer>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="{% static 'carsell/images//demo/320x240.png' %}" alt=""></a>
        <h3 class="heading">Sollicitudin nibh in</h3>
        <p>Pulvinar in porttitor elit pulvinar aenean vulputate odio fringilla sodales ullamcorper nisi turpis congue justo sed&hellip;</p>
        <footer class="nospace"><a href="#">Read More &raquo;</a></footer>
      </article>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
{% endblock content %}