{% extends "carsell/base.html" %}
{% block content %}
<h2 class="mb-3">{{ view.kwargs.username }}'s Posts ({{ page_obj.paginator.count }})</h2>
{% for post in posts %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
    </div>
    <img class="img-thumbnail float-left mr-3" src="{{ post.image.url }}">
    <a class="article-title" href="{% url 'post-detail' post.id %}">
      <h3>{{ post.title }}</h3>
      <h4 class="text-muted">{{ post.price }}</h4>
    </a>
    <p class="article-content">{{ post.short_description }}</p>
  </div>
</article>
{% endfor %}

{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}
  {% for num in page_obj.paginator.page_range %}
    {% if num == page_obj.number %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
{% endif %}
{% endblock content %}